.galleryItem {
    font-weight: 400;
    color: white;
    width: 100%;
    height: 344px;
    background-color: #ff6060;
    box-shadow: inset 0px -90px 60px -50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    position: relative;
    
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: inherit;
        
    }
    span {
        position: absolute;
        display: block;
        width: 90%;
        margin: 15px;
        letter-spacing: 1px;
    }
}