.container{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 250px;
    height: auto;
    cursor: pointer;
}
.navlink{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    > :nth-child(2) {
        margin-left: 40px;
    }
    li {
        font-size: 22px;
        font-weight: 420;
        color: #ff6060;
        letter-spacing: 0.7px;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 715px) {
    .logo {
        height: 70px;
        width: auto;
    }
    .navlink {
        > :nth-child(2) {
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 410px) {
    .logo {
        height: 50px;
        width: auto;
    }
    .navlink {
        li {
            font-size: 16px;
        }
    }
}